# DATA TYPE CONVERSION

In [1]:
num1 = int(12.6)
print(num1)

12

In [2]:
num2 = 15
print(float(num2))

15.0

In [4]:
str(num2)

'15'

In [5]:
num3 = 15.32
str(num3)

'15.32'

In [8]:
word = '58'
print(float(word))

58.0

# INPUT FUNCTION

In [15]:
name = input('Please enter your name:')

Please enter your name:Sam

In [16]:
print(name)

Sam

In [19]:
Age = int(input('Please enter your age:'))

Please enter your age:45

# OPERATORS

## Arithimetic Operators

In [20]:
Num1 = int(input('Please provide number one value:'))
Num2 = int(input('Please provide number two value:'))
print(f'{Num1} + {Num2} = {Num1 + Num2}')
print(f'{Num1} - {Num2} = {Num1 - Num2}')
print(f'{Num1} * {Num2} = {Num1 * Num2}')
print(f'{Num1} / {Num2} = {Num1 / Num2}')
print(f'{Num1} % {Num2} = {Num1 % Num2}')
print(f'{Num1} // {Num2} = {Num1 // Num2}')
print(f'{Num1} ** {Num2} = {Num1 ** Num2}')

Please provide number one value:85
Please provide number two value:45
85 + 45 = 130
85 - 45 = 40
85 * 45 = 3825
85 / 45 = 1.8888888888888888
85 % 45 = 40
85 // 45 = 1
85 ** 45 = 666579045552219580249174894800496142142685846003260003755030993488617241382598876953125

## Comparism Operators

In [21]:
Num1 = int(input('Please provide number one value:'))
Num2 = int(input('Please provide number two value:'))
print(f'{Num1} > {Num2} = {Num1 > Num2}')
print(f'{Num1} < {Num2} = {Num1 < Num2}')
print(f'{Num1} >= {Num2} = {Num1 >= Num2}')
print(f'{Num1} <= {Num2} = {Num1 <= Num2}')
print(f'{Num1} == {Num2} = {Num1 == Num2}')
print(f'{Num1} != {Num2} = {Num1 != Num2}')

Please provide number one value:12
Please provide number two value:8
12 > 8 = True
12 < 8 = False
12 >= 8 = True
12 <= 8 = False
12 == 8 = False
12 != 8 = True

## Logical Operators

In [22]:
Num1 = int(input('Please provide number one value:'))
Num2 = int(input('Please provide number two value:'))
print(Num1 > Num2 and Num1 == Num2)
print(Num1 > Num2 or Num1 == Num2)
print(not Num1)

Please provide number one value:65
Please provide number two value:12
False
True
False

## Membership Operators

In [24]:
word = 'school'
print('ch' in word)
print('Ch' not in word)

True
True

## Identity Operators

In [25]:
print(Num1 is Num2)
print(Num1 is not Num2)

False
True